{{ define "title" }}
<head>
    <title>学习与发展指导中心预约系统</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/legacy/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/legacy/assets/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/legacy/assets/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/legacy/assets/css/fit.css">
    <link rel="stylesheet" type="text/css" href="/static/legacy/assets/css/mainContent.css">
</head>
{{ end }}

{{ define "content" }}
<body class="index-body">
    <div class="jumbotron main-jumbotron head_icon" id="start-jumbotron">
        <div class="container" style="margin:auto auto 10px auto;">
            <br />
            <h1 class="make-position-relative" id="start-text-xs" style="font-size: 50px">学习与发展指导中心预约系统<br />管理员登录</h1>
            <div class="col-md-4 col-md-offset-4 col-xs-12">
                <div class="white-border" id="login-form">
                    <form class="form-signin">
                        <h2 class="form-signin-heading">请登录</h2>
                        <br />
                        <label for="inputEmail" class="sr-only">用户名</label>
                        <input type="text" id="username" class="form-control" placeholder="用户名" required autofocus name="username">
                        <label for="inputPassword" class="sr-only">密码</label>
                        <input type="password" id="password" class="form-control" placeholder="密码" required name="password">
                        <button class="btn btn-lg btn-primary btn-block btn-getting-started" type="button" onclick="adminLogin()">登录</button>
                        <br />
                    </form>
                </div>
            </div> <!-- /container -->
        </div>
    </div>
    <!--版权-->
    <div class="container">       
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <center>
                    <p>&copy;test2017 清华大学学生学习与发展指导中心</p>
                    <small>如有咨询或意见建议拨打电话62792453（欧老师）</small>
                </center>
            </div>
        </div>
    </div>
</body>
    <script src="/static/legacy/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="/static/legacy/assets/js/jquery.min.js"></script>
    <script src="/static/legacy/assets/jquery-ui/jquery-ui.js"></script>
    <script src="/static/legacy/assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/legacy/assets/js/user.js"></script>
{{ end }}
